<div class="messages-container">
  <div class="messages-list-container">
    <ul>
      <% 10.times do |num| %>
        <li>
          <div class="user-message">あいうえおかきくけこあいうえおかきくけこあいうえおかきくけこあいうえおかきくけこあいうえおかきくけこあいうえおかきくけこあいうえおかきくけこあいうえおかきくけこ</div>
        </li>
        <li>
        <div class="counter-message">さしすせそたちつてとあいうえおかきくけこあいうえおかくきけこ</div>
        </li>
      <% end %>
      <input type="text" autofocus="true" style="opacity: 0; z-index: -100;">
    </ul>
  </div>
  <div class="messages-form-container">
    <div class="messages-input-container"></div>
    <div class="messages-submit-container"></div>
  </div>
</div>